.container {
  width: 60%;
  position: relative;
}

.input {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 1em #00000022;
  font-size: 20px;
  font-weight: 500;
  background: #f4f4f4;
}

.input:focus {
  border: 1px solid #646cff;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25%;
  right: 16px;
  cursor: pointer;
}
