#root {
  /* max-width: 1280px; */
  width: 100%;
  padding: 2rem;
  text-align: center;
  /* background: red; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  background: #fff;
  z-index: 999;
  /* box-shadow: 0 0 10px 10px #00000022; */
}

.logo {
  height: 200px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background: red;
}

.card-list {
  /* display: grid; */
  /* grid-template-columns: repeat(6, 1fr); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.card {
  width: 180px;
  padding: 16px;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #00000022;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  color: #6e4570;
  box-shadow: 0 0 2em #00000022;
}

.types {
  display: flex;
  gap: 10px;
}

.type {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 900;
}

.grass {
  background: #42bf24;
}

.poison {
  background: #994dcf;
}

.fire {
  background: #ff612c;
}

.flying {
  background: #95c9ff;
}

.water {
  background: #2992ff;
}

.bug {
  background: #9fa424;
}

.normal {
  background: #999999;
}

.electric {
  background: #ffdb00;
}

.ground {
  background: #ab7939;
}

.fairy {
  background: #ffb1ff;
}

.fighting {
  background: #ffa202;
}

.psychic {
  background: #ff637f;
}

.rock {
  background: #bcb889;
}

.ice {
  background: #42d8ff;
}

.ghost {
  background: #6e4570;
}

.steel {
  background: #6aaed3;
}

.dragon {
  background: #5462d6;
}

.dark {
  background: #4f4747;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.book {
  max-width: 50%;
  display: flex;
  align-items: center;
  padding: 15px 50px 50px;
  border: 3px solid #333;
  border-radius: 10px;
  background: #fff;
  gap: 3rem;
}

.order-num {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4f4747;
}

.pokemon-name {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
}
